<a href="https://colab.research.google.com/github/Bhupendra-glitch/End-to-End-ML-with-Deployment/blob/main/End_To_End_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Overview of DataSet**

the dataset contain comprehensive records of Indian Premier League (IPL) matches, including ball-by-ball data, player performance, and team stat.. It provide details insight into runs, scored,wickets taken, extras, dismissal types and match result.

**Objective of the Analysis**

The primary goal od thisnproject is to perform Exploratory data Analysis(EDA) to uncover patterns in IPL matches and develop an API that provide useful criket insight to developer.

*Analysis objectives*
1. understand teram performance across seasons
2. Identify top-performing players
3. Analysis tends in scoring, bowling and match outcome.
4. explore factirs influcing match result
5. generat visulal insight to support data-driven conclusion.

**Import liberies**

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Loading and inspecting the dataset**

In [5]:
matches = pd.read_csv('/content/matches.csv')
deliveries = pd.read_csv('/content/deliveries.csv')

In [6]:
matches.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [7]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [8]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1095 non-null   int64
 1   season           1095 non-null   object
 2   city             1044 non-null   object
 3   date             1095 non-null   object
 4   match_type       1095 non-null   object
 5   player_of_match  1090 non-null   object
 6   venue            1095 non-null   object
 7   team1            1095 non-null   object
 8   team2            1095 non-null   object
 9   toss_winner      1095 non-null   object
 10  toss_decision    1095 non-null   object
 11  winner           1090 non-null   object
 12  result           1095 non-null   object
 13  result_margin    1076 non-null   float64
 14  target_runs      1092 non-null   float64
 15  target_overs     1092 non-null   float64
 16  super_over       1095 non-null   object
 17  method           21 non-null     object
 18  umpire1          1095 non-null   object
 19  umpire2          1095 non-null   object
dtypes: float64(3), int64(1), object(16)
memory usage: 171.2+ KB

In [9]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          260920 non-null  int64
 1   inning            260920 non-null  int64
 2   batting_team      260920 non-null  object
 3   bowling_team      260920 non-null  object
 4   over              260920 non-null  int64
 5   ball              260920 non-null  int64
 6   batter            260920 non-null  object
 7   bowler            260920 non-null  object
 8   non_striker       260920 non-null  object
 9   batsman_runs      260920 non-null  int64
 10  extra_runs        260920 non-null  int64
 11  total_runs        260920 non-null  int64
 12  extras_type       14125 non-null   object
 13  is_wicket         260920 non-null  int64
 14  player_dismissed  12950 non-null   object
 15  dismissal_kind    12950 non-null   object
 16  fielder           9354 non-null    object
dtypes: int64(8), object(9)
memory usage: 33.8+ MB

In [10]:
matches.describe()

                 id  result_margin  target_runs  target_overs
count  1.095000e+03    1076.000000  1092.000000   1092.000000
mean   9.048283e+05      17.259294   165.684066     19.759341
std    3.677402e+05      21.787444    33.427048      1.581108
min    3.359820e+05       1.000000    43.000000      5.000000
25%    5.483315e+05       6.000000   146.000000     20.000000
50%    9.809610e+05       8.000000   166.000000     20.000000
75%    1.254062e+06      20.000000   187.000000     20.000000
max    1.426312e+06     146.000000   288.000000     20.000000

In [11]:
deliveries.describe()

,match_id,inning,over,ball,batsman_runs,extra_runs,total_runs,is_wicket
count,2.609200e+05,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000
mean,9.070665e+05,1.483531,9.197677,3.624486,1.265001,0.067806,1.332807,0.049632
std,3.679913e+05,0.502643,5.683484,1.814920,1.639298,0.343265,1.626416,0.217184
min,3.359820e+05,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,5.483340e+05,1.000000,4.000000,2.000000,0.000000,0.000000,0.000000,0.000000
50%,9.809670e+05,1.000000,9.000000,4.000000,1.000000,0.000000,1.000000,0.000000
75%,1.254066e+06,2.000000,14.000000,5.000000,1.000000,0.000000,1.000000,0.000000
max,1.426312e+06,6.000000,19.000000,11.000000,6.000000,7.000000,7.000000,1.000000

In [12]:
matches.isnull().sum()

id                    0
season                0
city                 51
date                  0
match_type            0
player_of_match       5
venue                 0
team1                 0
team2                 0
toss_winner           0
toss_decision         0
winner                5
result                0
result_margin        19
target_runs           3
target_overs          3
super_over            0
method             1074
umpire1               0
umpire2               0
dtype: int64

In [13]:
deliveries.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batter                   0
bowler                   0
non_striker              0
batsman_runs             0
extra_runs               0
total_runs               0
extras_type         246795
is_wicket                0
player_dismissed    247970
dismissal_kind      247970
fielder             251566
dtype: int64

In [14]:
def style_dataframe(df):
    styled_df = df.style \
        .set_table_styles([
            # Header styling - sleek dark theme
            {'selector': 'thead th', 'props': [
                ('background-color', '#1F2A40'),  # Dark navy
                ('color', 'white'),
                ('font-size', '14px'),
                ('font-weight', 'bold'),
                ('padding', '12px'),
                ('text-align', 'center'),
                ('border', '2px solid #1F2A40')
            ]},
            # Cell styling - clean and professional
            {'selector': 'td', 'props': [
                ('border', '1px solid #ddd'),
                ('padding', '10px'),
                ('text-align', 'center'),
                ('font-size', '13px'),
                ('color', '#333')
            ]},
            # Alternating row colors for readability
            {'selector': 'tbody tr:nth-child(odd)', 'props': [('background-color', '#f5f5f5')]},
            {'selector': 'tbody tr:nth-child(even)', 'props': [('background-color', '#ffffff')]},
            # Hover effect - light gray for better UX
            {'selector': 'tbody tr:hover', 'props': [('background-color', '#e3e6ea')]}
        ]) \
        .set_table_attributes('style="margin-left:auto; margin-right:auto; border-collapse: collapse; width: 95%; box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);"') \
        .hide(axis="index")  # Hides the index column

    return styled_df

**Exploratory Data Analysis**

*All Teams*

In [15]:
merged_df = deliveries.merge(matches,how='left',left_on='match_id', right_on='id')

In [17]:
def all_teams():
  temp =pd.concat([matches['team1'], matches['team2']]).unique()
  return {"team":temp}

In [18]:
all_teams()

{'team': array(['Royal Challengers Bangalore', 'Kings XI Punjab',
        'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
        'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
        'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
        'Gujarat Lions', 'Rising Pune Supergiants',
        'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
        'Lucknow Super Giants', 'Gujarat Titans',
        'Royal Challengers Bengaluru'], dtype=object)}

**All Players**

In [19]:
def all_players():
  temp = pd.concat([deliveries['batter'], deliveries['bowler']]).unique()
  return {"players":temp}

**Team Analysis**

*team vs team *

In [20]:
team1 = 'Kolkata Knight Riders'
team2 = 'Royal Challengers Banglore'

In [22]:
def teamVteam(team1,team2):
    temp_df = matches[((matches['team1'] == team1) & (matches['team2'] == team2)) |
        ((matches['team1'] == team2) & (matches['team2'] == team1))]
    total_matches = temp_df.shape[0]
    team1_wins = temp_df[temp_df['winner'] == team1].shape[0]
    team2_wins = temp_df[temp_df['winner'] == team2].shape[0]
    team1_win_per = (team1_wins/total_matches)*100
    team2_win_per = (team2_wins/total_matches)*100

    dic = {
        'team1' : team1,
        'team2' : team2,
        'total_matches':total_matches,
        'wins':{
            team1 : team1_wins,
            team2 : team2_wins
        },
        'winning_perc':{
            team1 : team1_win_per,
            team2 : team2_win_per
        }

    }
    return dic

In [23]:
teamVteam('Chennai Super Kings', 'Mumbai Indians')

{'team1': 'Chennai Super Kings',
 'team2': 'Mumbai Indians',
 'total_matches': 37,
 'wins': {'Chennai Super Kings': 17, 'Mumbai Indians': 20},
 'winning_perc': {'Chennai Super Kings': 45.94594594594595,
  'Mumbai Indians': 54.054054054054056}}

In [24]:
teamVteam('Chennai Super Kings', 'Kings XI Punjab')

{'team1': 'Chennai Super Kings',
 'team2': 'Kings XI Punjab',
 'total_matches': 23,
 'wins': {'Chennai Super Kings': 14, 'Kings XI Punjab': 9},
 'winning_perc': {'Chennai Super Kings': 60.86956521739131,
  'Kings XI Punjab': 39.130434782608695}}

**Team Record**